<div>

    <i class="fa fa-search"></i> <input type="text" ng-model="query" placeholeder="Client name">
    <h3>All clients</h3>
    <ul style="list-style-type:none">
        <div class="panel panel-default">
            <div class="panel-body">
                <li ng-repeat="client in clients | filter:query">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                            <button class="span12" type="button">
                               <i class="fa fa-edit"></i> edit
                            </button>
                            <i></i>

                        </div>
                        <div class="panel-body">
                            {{client.clientName}}
                        </div>
                    </div>
                </li>
            </div>
        </div>

    </ul>

</div>